.play-game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}


.play-game-container .player {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-grow: 6;
}

.play-game-container .chat {
    flex-grow: 4;
}

.thecard {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.thecard:active {
    transform: rotateY(180deg);
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}


.thefront h1,
.theback h1 {
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.thefront p,
.theback p {
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}


.chat .vertical-line {
    border-left: 2px solid black; /* Đường kẻ dọc */
    height: 100px; /* Chiều cao của đường kẻ */
    margin-left: 20px; /* Khoảng cách từ trái */
  }