.play-game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.play-game-container .player {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 70%;
}

.play-game-container .manager-play {
    width: 30%;
    position: relative;
}

.thecard {
    width: 100px;
    height: 200px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.thecard:active {
    transform: rotateY(180deg);
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}


.thefront h1,
.theback h1 {
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.thefront p,
.theback p {
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}


.manager-play .vertical-line {
    position: absolute;
    border-left: 2px solid black;
    height: 720px;
}

.player img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.manager-play>.container-time {
    display: flex;
    flex-wrap: wrap;
}

.manager-play .time {
    height: 30px;
    width: 28%;
    text-align: center;
    border: 2px solid black;
}

.manager-play .sun-night {
    width: 70%;
    height: 100px;
    background-color: aqua;
}

.sun-night>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.manager-play>.box-chat {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

.box-chat input {
    width: 90%;
    height: 30px;
}

.box-chat button {
    width: 30%;
    height: 30px;
}