#header {
    display: flex;
    justify-content: center;
}

#header>div {
    width: 100px;
    height: 50px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

#header img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#header > #store {
   
}

#header > #home {
   
}

#header > #donate {
  
}